<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MeetupApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>  
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Meetup App</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <%= link_to 'Create New Event', new_event_path %>
            </li>
            <li>
              <a href="#">Contact Us</a>
            </li>
          </ul>

        </div>
      </div>
    </div>

	<div class="container" id="content">
		<%= yield %>		
	</div>

  </body>
</html>